@font-face {
  font-family: "Domine";
  src: url("/assets/font/Domine-Regular.ttf") format("truetype");

  font-family: "BrittanySignature";
  src: url("/assets/font/BrittanySignature.ttf") format("truetype");

  font-family: "BodoniModa";
  src: url("/assets/font/BodoniModa_72pt-Regular.ttf") format("truetype");

  font-family: "LibreBaskerville";
  src: url("/assets/font/LibreBaskerville-Regular.ttf") format("truetype");

  font-family: "CinzelDecorative";
  src: url("/assets/font/CinzelDecorative-Regular.ttf") format("truetype");
}

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
